.container{
    width: 100%;
    text-align: center;
    height: 65vh;
    margin-top: 5%;
}
button{
    // width: 5px;
    flex:1 1;

}
h2{
    font-size: 20px;
}
// .createbutton{

// }
.create{
    font-size: 15px;
}