<div class="container-fluid row">

    <div class="d-flex">
        <div class="col-8 image">

        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end gap-5 fs-5 navigation ">
                <div class="nav" (click)="about()">About</div>
                <div  class="nav" (click)="support()">Support</div>
                <div  class="nav" (click)="login()">Login</div>
            </div>
           <div class="heading">
            <div class="row titleclass">
                <div class="title">PROJECT</div>
                <div class="title">MANAGEMENT</div>
            </div>
            <div class="row subclass pt-5 gap-3">
                <div class="sub">Finally,</div>
                <div class="sub">a way to organize</div>
                <div class="sub">Your Team Work</div>
            </div>
            <div class="row signup ">
                <button mat-raised-button (click)="btnsignup()" class="btn"> SIGN UP</button>
            </div>
           </div>
        </div>
    </div>


</div>
